/*Main CSS for Laptop-size Screens*/

/*Header and Navbar*/
div.head{
  display: inline-block;
  position: fixed;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.head{
  padding: 10px;
  background-color: red;
  color: white;
  text-align: center;
  font-family: Schoolbell;
  width: 90%;
  height: 10%;
}
.navbar{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.navbar a{
  color: white;
  text-decoration: none;
}
.navbar li a:hover{
  color: blue;
  background-color: yellow;
}
/*Background Image*/
body{
  background-image: url("../img/rainbow-2.jpg");
  background-repeat: no-repeat;
}
/*Sign-up Box*/
.sign-up{
  width: 385px;
  height: 400px;
  background-color: dodgerblue;
  position: absolute;
  top: 10em;
  left: 5em;
  text-align: center;
  font-family: Schoolbell;
  color: white;
}
input{
  background-color:white;
  color: red;
}
.fname{
  float: left;
  width: 10em;
  height: 2.5em;
  margin-top: 2em;
  margin-left: 1em;
  text-align: center;
}
.lname{
  float:left;
  width: 10em;
  height: 2.5em;
  margin-top: 2em;
  margin-left: 2em;
  text-align: center;
}
.phone{
  float: left;
  width: 10em;
  height: 2.5em;
  margin-top: 1.5em;
  margin-left: 1em;
  text-align: center;
}
.email{
  float: left;
  width: 10em;
  height: 2.5em;
  margin-top: 1.5em;
  margin-left: 2em;
  text-align: center;
}
.sign-up p{
  float: left;
  color: white;
  font-size: 17px;
  margin-top: 2.4em;
  margin-left: 1.5em;
}
select{
  background-color: white;
  color: darkslategray;
  float: left;
  width: 3em;
  height: 2em;
  margin-top: 2.7em;
  margin-left: 3.25em;
}
button{
  float: left;
  width: 20em;
  height: 3em;
  margin-top: 0.2em;
  margin-left: 2em;
  background: white;
  border:white;
  color: darkslategray;
  font-family: Schoolbell;
  font-weight: bold;
  font-size: 1em;
}
/*Class Photos*/
.photos{
  position: absolute;
  width: 43%;
  height: auto;
  background-color: whitesmoke;
  top: 10em;
  left: 32em;
  text-align: center;
  font-family: Schoolbell;
  color: violet;
  border: 5px solid darkblue;
}
.photos img{
  width: 35%;
  height: auto;
  padding-bottom: 1em;
}
/*Poll Question*/
div.radio{
  display: inline-block;
  position: absolute;
  top: 36em;
  left: 5em;
}
.radio{
  background-color: aqua;
  color: orangered;
  text-align: center;
  font-family: Schoolbell;
  width: 385px;
  height: 170px;
}
/*Social Media*/
.social{
  display: inline-block;
  position: absolute;
  width: 12%;
  height:19%;
  top: 48em;
  left: 3em;
  text-align: center;
  background-color: navy;
  color: white;
}
/*Blog Header*/
div.blog-head{
  display: inline-block;
  position: absolute;
  top: 48em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: orange;
  color: white;
  text-align: center;
  font-family: Schoolbell;
  width: 62%;
  height: auto;
}
/*Main Blog*/
div.blog{
  display: inline-block;
  position: absolute;
  top: 55em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.blog{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lemonchiffon;
  color: blue;
  text-align: left;
  font-family: Schoolbell;
  width: 60%;
  height: auto;
  padding: 0.5em;
}
h2{
  margin-bottom: 0px;
}
p{
  margin-bottom: 2em;
  padding: 0.5em;
  color: black;
}
/*Footer*/
.footer{
  position: relative;
  top: 92em;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

/*Small Screen View*/
@media (min-width: 768px) and (max-width: 917px){

/*Sign-up Box*/
.sign-up{
  width: 385px;
  height: 400px;
  background-color: dodgerblue;
  position: absolute;
  top: 10em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Schoolbell;
  color: white;
}
input{
  background-color:white;
  color: red;
}
.fname{
  float: left;
  width: 10em;
  height: 2.5em;
  margin-top: 2em;
  margin-left: 1em;
  text-align: center;
}
.lname{
  float:left;
  width: 10em;
  height: 2.5em;
  margin-top: 2em;
  margin-left: 2em;
  text-align: center;
}
.phone{
  float: left;
  width: 10em;
  height: 2.5em;
  margin-top: 1.5em;
  margin-left: 1em;
  text-align: center;
}
.email{
  float: left;
  width: 10em;
  height: 2.5em;
  margin-top: 1.5em;
  margin-left: 2em;
  text-align: center;
}
.sign-up p{
  float: left;
  color: white;
  font-size: 17px;
  margin-top: 2.4em;
  margin-left: 1.5em;
}
select{
  background-color: white;
  color: darkslategray;
  float: left;
  width: 3em;
  height: 2em;
  margin-top: 2.7em;
  margin-left: 3.25em;
}
button{
  float: left;
  width: 20em;
  height: 3em;
  margin-top: 0.2em;
  margin-left: 2em;
  background: white;
  border:white;
  color: darkslategray;
  font-family: Schoolbell;
}
/*Class Photos*/
.photos{
  position: absolute;
  width: 385px;
  height: 400px;
  background-color: whitesmoke;
  top: 36em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Schoolbell;
  color: violet;
  border: 5px solid darkblue;
}
.photos img{
  width: 35%;
  height: auto;
  padding-bottom: 1em;
}
/*Poll Question*/
div.radio{
  display: inline-block;
  position: absolute;
  top: 63em;
}
.radio{
  background-color: aqua;
  color: orangered;
  text-align: center;
  font-family: Schoolbell;
  width: 43%;
  height: 20%;
  margin-left: 12em;
  margin-right: auto;
  left: 0;
  right: 0;
}
/*Blog Header*/
div.blog-head{
  display: inline-block;
  position: absolute;
  top: 76.5em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: orange;
  color: white;
  text-align: center;
  font-family: Schoolbell;
  width: 70%;
  height: auto;
}
div.blog{
  display: inline-block;
  position: absolute;
  top: 82em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
h2{
  margin-bottom: 0.5em;
}
p{
  margin: 0;
  margin-bottom: 2em;
  padding: 0.5em;
  color: black;
}
/*Social Media - moved*/
div.social{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height:6%;
  top: 121em;
  left: 3em;
  text-align: center;
  background-color: navy;
  color: white;
}
.social h2{
  display: none;
}
/*Footer*/
.footer{
  position: relative;
  top: 127em;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  }
}

/*Phone View*/
@media (max-width: 767px){

/*Header*/
  .head{
    padding: 10px;
    background-color: red;
    color: white;
    text-align: center;
    font-family: Schoolbell;
    width: 90%;
    height: 15%;
  }

/*Sign-up Box*/
  .sign-up{
    width: 385px;
    height: 400px;
    background-color: dodgerblue;
    position: absolute;
    top: 11em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Schoolbell;
    color: white;
  }
  input{
    background-color:white;
    color: red;
  }
  .fname{
    float: left;
    width: 10em;
    height: 2.5em;
    margin-top: 2em;
    margin-left: 1em;
    text-align: center;
  }
  .lname{
    float:left;
    width: 10em;
    height: 2.5em;
    margin-top: 2em;
    margin-left: 2em;
    text-align: center;
  }
  .phone{
    float: left;
    width: 10em;
    height: 2.5em;
    margin-top: 1.5em;
    margin-left: 1em;
    text-align: center;
  }
  .email{
    float: left;
    width: 10em;
    height: 2.5em;
    margin-top: 1.5em;
    margin-left: 2em;
    text-align: center;
  }
  .sign-up p{
    float: left;
    color: white;
    font-size: 17px;
    margin-top: 2.4em;
    margin-left: 1.5em;
  }
  select{
    background-color: white;
    color: darkslategray;
    float: left;
    width: 3em;
    height: 2em;
    margin-top: 2.7em;
    margin-left: 3.25em;
  }
  button{
    float: left;
    width: 20em;
    height: 3em;
    margin-top: 0.2em;
    margin-left: 2em;
    background: white;
    border:white;
    color: darkslategray;
    font-family: Schoolbell;
  }
/*Class Photos*/
  .photos{
    position: absolute;
    width: 385px;
    height: 400px;
    background-color: whitesmoke;
    top: 37em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Schoolbell;
    color: violet;
    border: 5px solid darkblue;
  }
  .photos img{
    width: 35%;
    height: auto;
    padding-bottom: 1em;
  }
/*Poll Question*/
  div.radio{
    display: none;
    position: absolute;
    top: 63em;
  }
/*Blog Header*/
  div.blog-head{
    display: inline-block;
    position: absolute;
    top: 63em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: orange;
    color: white;
    text-align: center;
    font-family: Schoolbell;
    width: 70%;
    height: auto;
  }
/*Main Blog*/
  div.blog{
    display: inline-block;
    position: absolute;
    top: 69em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  h2{
    margin-bottom: 0.5em;
  }
  p{
    margin: 0;
    margin-bottom: 2em;
    padding: 0.5em;
    color: black;
  }
  div.social{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
/*Social Media*/
  .social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height:6%;
    top: 126em;
    left: 3em;
    text-align: center;
    background-color: navy;
    color: white;
  }
  .social h2{
    display: none;
  }
/*Footer*/
  .footer{
    position: relative;
    top: 131em;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
}
